.app-style {
    font-family: "Trirong", serif;
    background: linear-gradient(50deg, rgb(227, 233, 206), rgb(175, 175, 162));
    opacity: 0.95;    
    text-shadow:  0.5px 0px #8b7f7f;   
}

.main-title{  
  background: linear-gradient(150deg, rgb(179, 192, 133), rgb(226, 228, 222));
}

.nav-bar-menu{  
  background: linear-gradient(150deg, rgb(194, 199, 176), rgb(215, 216, 210));
}

.table-items{  
  background: linear-gradient(100deg, rgb(233, 229, 232), rgb(216, 210, 216));  
}

.error-message-modal {
    display: inline-table;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: rgb(240, 230, 230);
    border: 1px solid rgb(22, 18, 18);
    border-radius: 12px;
    position: absolute;
    height: 250px;
    width: 450px;
    top: 40%;
    left: 40%;  
    text-align: center;
  }

  .yes-no-modal {
    display: inline-table;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: rgb(240, 230, 230);
    border: 1px solid rgb(22, 18, 18);
    border-radius: 12px;
    position:  fixed;
    height: 200px;
    width: 470px;
    top: 20%;
    left: 35%;      
    text-align: center;
  } 